body {
    position: relative;
}

.nav-item {
    text-align: right;
}

.card-body {
background-color: #009688;
}

.parallax1 { 
    background-image: url("images/banner.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 { 
    background-image: url("images/landing.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    margin: auto;
    max-width: 75%;
    background-color: #dfca6c;
    padding: 50px;
}

.div2 {
    margin: auto;
    width: 100%;
    background-color: #ca56c4;
    padding: 50px;
}

#section1 {
    margin: auto;
    padding-top:50px;
    height: 1000px;
    color: #fff;
    background: transparent;
}

#section2 {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff; 
    background-color: #673ab7;
}

#section3 {
    margin: auto;
    padding: auto;
    color: #fff; 
}

#section41 {
    margin: auto;
    padding-top:100px;
    height:500px;
    color: #fff; 
    background-color: #00bcd4;
}

#section42 {
    margin: auto;
    padding-top:100px;
    height:500px;
    color: #fff; 
    background-color: #009688;
}

footer {
    padding: 15px;
    background-color: #da6a36
}