body {
    position: relative;
}

.nav-item {
    text-align: right;
}

.card-body {
background-color: #009688;
}

.parallax { 
    /* The image used */
    background-image: url("images/banner.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    margin: auto;
    max-width: 75%;
    background-color: #dfca6c;
    padding: 25px;
}

.div2 {
    margin: auto;
    width: 100%;
    background-color: #ca56c4;
    padding: 25px;
}

#section1 {
    margin: auto;
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #3a924d;
}

#section2 {
    margin: auto;
    padding-top:100px;
    height:500px;
    color: #fff; 
    background-color: #673ab7;
}

#section3 {
    /* margin: auto;
    padding-top:100px;
    height:500px; */
    color: #fff; 
    background-color: #ff9800;
}

#section41 {
    margin: auto;
    padding-top:100px;
    height:500px;
    color: #fff; 
    background-color: #00bcd4;
}

#section42 {
    margin: auto;
    padding-top:100px;
    height:500px;
    color: #fff; 
    background-color: #009688;
}

footer {
    padding: 15px;
    background-color: #da6a36
}